<%= simple_form_for @loja do |f|%>

  <%= f.file_field :img_loja %>
  <%= f.input :nome, label: "Nome da loja" %>
  <%= f.input :descricao%>
  <%= f.input :email %>
  <%= f.button :submit %>

<% end %>

