    <div class="row">

        <% @lojas.each do |loja| %>

            <div class="col-md-3">
                <a href="/lojas/<%= loja.id %>">
                    <%= image_tag loja.img_loja.url(:lojas), class: "loja" %>
                </a>
            </div>  

        <% end %>

</div>