<div class="row">

<div class="col-md-4">
<%= image_tag @loja.img_loja.url(:lojas_show), class: "loja-show" %>

</div>

	<div class="col-md-8">

<div class="loja-info">

			<h2 class="loja-title"><%= @loja.nome %></h2>
			<h2 class="avg-rating">Average Rating</h2>
			<div class="average-review-rating" data-score=<%= @average_review %>></div>
			<span>Em um total de <%= @loja.reviews.count %> avaliações.</span>
			<p class="loja-desc"><%= @loja.descricao %></p>

	</div>


</div>

<div class="row">

	<div class="col-md-4">

		<div class="reviews">

			<!-- Where the reviews/ratings will go -->
			<h1>Reclamações</h1>
			<%= render @loja.reviews %>
 			
 			<% if user_signed_in? %>
			<div>
				<%=link_to "Voltar", loja_path, class: "btn btn-primary" %>
			</div>
						<div>
				<<%= link_to "Reclamar",  new_loja_review_path(@loja) %>
			</div>

			<% elsif user_loja_signed_in? %>
			<div>
				<%=link_to "Voltar", loja_path, class: "btn btn-primary" %>
			</div>
						<div>
				<<%= link_to "Responder",  new_loja_review_path(@loja) %>
			</div>

			<div>
				<%=link_to "Editar Loja", loja_path, class: "btn btn-primary" %>
			</div>
						<div>
				<<%= link_to "Excluir",  new_loja_review_path(@loja) %>
			</div>

			<% else  %>
					<%= redirect_to homes %>

					<% end -%>
		</div>	

	</div>

</div>


<script>
	$('.review-rating').raty({

		readOnly: true,
		score: function(){
			return $(this).attr('data-score');
		},
		path: '/assets/'

	});
</script>

<script>
	
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function(){
			return $(this).attr('data-score')
		}
	});

</script>